<% content_for :css do %>
    <%= stylesheet_link_tag 'css/hero' %>
<% end %>

<!-- Hero Header -->
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="site-name"> Welcome to Bandai Lab!</h1>
    <p>萬代研究室では，情報ネットワーク及びネットワークコンピューティング，アプリケーション技術を開発しています．大学ならではの中長期的な視点で研究に取り組みます．</p>
    <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
  </div>
</div> 

