<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h4 class='alert-heading'>
        <%= @user.errors.count %> 件のエラー 
      </h4>
      <hr>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
