<% content_for :css do %>
  <%= stylesheet_link_tag 'css/hero' %>
<% end %>

<!-- Hero Header -->
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="site-name"> Welcome to Bandai Lab!</h1>
    <p>萬代研究室では，情報ネットワーク及びネットワークコンピューティング，アプリケーション技術を開発しています．大学ならではの中長期的な視点で研究に取り組みます．</p>
    <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
  </div>
</div> 

<div class="container-fluid">
  <div class="text-center p-5">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h3 class="p-2">研究テーマ</h3>
        <p>ネットワークを中心とした，様々な研究を行っています．</p>
        <p><a class="btn btn-secondary" href="https://bandailab.jp/theme/">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h3 class="p-2">研究業績</h3>
        <p>研究業績はこちらです．</p>
        <p><a class="btn btn-secondary" href="https://bandailab.jp/publication/">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h3 class="p-2">メンバー紹介</h3>
        <p>個性豊かなメンバーが揃っています．</p>
        <p><a class="btn btn-secondary" href="/users">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
  </div
</div><!-- /.row -->
